body {
    width: 100%;
    height: 100vh;
}

#arrumadesgrama {
    cursor: pointer;
    padding: 0;
    color: white;
    text-decoration: none;
}

#gridprincipal {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
}

.bloco {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    object-fit: cover;
}

#select:hover {
    background-color: rgb(15, 15, 15);
    transition: .2s;
}

#imgesquerdo {
    overflow: hidden;
}

